.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(18, 18, 18, 0.4);
}

.form-popup {
  border: 2px solid #121212;
  border-radius: 10px;
  max-width: 100%;
  width: 450px;
  background-color: #fff;
  &__body {
    padding: 35px 30px;
  }
}
.review-form {
  &__title {
    font-family: "Spartan-SemiBold";
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #121212;
    margin-bottom: 10px;
  }

  &__rating {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__success {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #58c983;
  }
  &__error-request {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #e91e63;
  }

  img {
    width: 25px;
    cursor: pointer;
  }

  input {
    border: 1px solid #121212;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #121212;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  input + .error {
    margin-top: -8px;
    margin-bottom: 8px;
    color: #e91e63;
  }
  textarea + .error {
    margin-top: -13px;
    margin-bottom: 8px;
    color: #e91e63;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__button {
    position: relative;
    min-height: 48px;
    padding: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Spartan-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.9;
    background: #121212;
    .LoadingMessage {
      top: 10px;
      left: 9px;
      &__ring {
        width: 26px;
        height: 26px;
        div {
          width: 26px;
          height: 100%;
        }
      }
    }

    .LoadingMessage__ring {
      width: 26px;
      height: 26px;
      div {
        width: 26px;
        height: 100%;
      }
    }
  }
  &__button:disabled {
    background-color: #464646;
  }
}
.input-wrapper {
}
.error {
}
