@use "src" as *;

.mainblock {
  padding: 32px 0 0;
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__slider {
    flex: 1 0 50%;
    // height: 100%;
    @include adaptiv-value("height", 490, 400, 1);
    @media (max-width: ($md2 + px)) {
      flex: 1 0 100%;
    }
  }

  &__content {
    flex: 1 0 50%;
  }
}

.mainblock-slider {
  position: relative;

  &__body {
    height: 100%;
    position: relative;
    max-width: 555px;
  }

  &__arrow-left {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
    margin-top: -20px;
    top: 50%;
    left: 24px;
    user-select: none; 
  }
  &__arrow-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
    top: 50%;
    margin-top: -20px;
    right: 24px;
    user-select: none; 
  }

  .swiper-button-disabled{
    opacity:0.6
  }

  .swiper-wrapper {
    width: 0;
  }

  &__item {
    display: flex;
    height: 100%;
  }

  &__image {
    padding: 0 100% 0 0;
    // padding: 0 calc(100% - 30px) 0 0;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content {
  }

  &__navigation-prev {
  }

  &__navigation-next {
  }
}
.content-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  // width: calc(100% - 30px);

  &__link {
    display: block;
    text-align: center;
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 4px;
  }
  &__title {
    font-family: "Spartan-SemiBold";
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #121212;
    opacity: 0.4;
  }

  &__text {
    font-family: "Spartan-SemiBold";
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}
.card-category {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  &__column {
    padding: 0 15px;
    flex: 1 0 50%;
    @media (max-width: ($md2+px)) {
      flex: 1 0 33.333%;
    }
    @media (max-width: ($md3+px)) {
      flex: 1 0 50%;
    }
    @media (max-width: ($md4+px)) {
      flex: 1 0 100%;
    }
  }

  &__column:not(:last-child) {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    padding: 0 0 200px 0;
    position: relative;
  }

  @media (min-width: ($md2+px)) {
    &__column:nth-child(3) &__item {
      padding: 0 0 260px 0;
    }
  }

  &__image {
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__link {
    padding: 13px 24px;
    background-color: #fff;
    border-radius: 4px;

    font-family: "Spartan-SemiBold";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}
