@use "src" as *;

.category {
  padding: 0 0 35px;

  &__maintitle {
    font-family: "Spartan-SemiBold";

    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }

  // &__menu {
  // }

  // &__body {
  // }

  // &__footer {
  // }

  &__link {
    display: block;
    font-family: "Spartan-Medium";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #121212;
    width: 100%;
    background: #f8f8f8;
    border: 2px solid #f8f8f8;
    opacity: 0.8;
    padding: 18px 0;
  }

  // &__cards {
  // }
}

.clothes-menu {
  display: flex;
  @media (max-width: ($md3+px)) {
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    font-family: "Spartan-Regular";
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #121212;
    opacity: 0.6;
    margin: 0 16px;
  }
  @media (min-width: ($md3+px)) {
    &__item:first-child {
      margin-left: 0;
    }
    &__item:last-child {
      margin-right: 0;
    }
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  &__column {
    // flex: 1 0 255px;
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 30px;
    @media (max-width: ($md2+px)) {
      flex: 0 1 33.333%;
    }
    @media (max-width: ($md3+px)) {
      flex: 0 1 50%;
    }
    @media (max-width: ($md4+px)) {
      flex: 0 1 100%;
    }
  }

  // &__item {
  // }
}
.cards-item {
  &__image {
    position: relative;
    margin-bottom: 16px;
    // padding: 0 0 318px 0;
    span {
      position: absolute;
      font-family: "Spartan-Bold";
      display: inline-block;
      padding: 9px 8px;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      color: #ffffff;
      background: #e91e63;
    }
  }

  &__title {
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
    margin-bottom: 12px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-family: "Spartan-Bold";
    font-size: 14px;
    line-height: 16px;
    color: #121212;
  }

  // &__rating {
  // }
}

.category {
  &__counter {
  }
}
.goods-counter {
  padding: 0 0 32px;
  &__container {
  }

  &__body {
    display: flex;
    gap: 32px;
    @media (max-width: ($md2+px)) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__found {
    font-family: "Spartan-Bold";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }

  &__title {
    font-family: "Spartan-Bold";
    margin-right: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    opacity: 0.6;
  }
}
