@use "src" as *;

.product-cart-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 400;
  transform: translateX(100%);
  background: rgba(18, 18, 18, 0.4);
}
.product-cart-overlay.visible {
  transform: translate(0%);
}

.product-cart {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 388px;
  z-index: 500;
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  @media (max-width: ($md3 + px)) {
    width: 100%;
  }
}
.product-cart.visible {
  transform: translateX(0%);
}

.cart {
  &__header {
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    height: calc(100% - 50px);
  }
  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__tab {
    display: flex;
    cursor: pointer;
    color: #e6e6e6;
  }
  &__tab.active {
    color: #121212;
  }

  &__tab:after {
    content: "/";
    margin: 0 20px;
    color: #e6e6e6;
  }

  &__tab:last-child:after {
    content: "";
    margin: 0 0;
  }

  &__container {
    overflow: auto;
    flex: 1 1;
  }

  &__container::-webkit-scrollbar {
    width: 3px;
    background-color: #e6e6e6;
  }

  &__container::-webkit-scrollbar-thumb {
    background-color: #8d8b8b;
  }

  &__container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #e6e6e6;
  }

  &__message {
    font-family: "Spartan-SemiBold";
    font-size: 26px;
    line-height: 150%;
    text-align: center;
  }

  &__item {
    padding: 13px 5px 13px 0;
    border-bottom: 2px solid #e6e6e6;
  }

  &__total {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:first-child {
      font-family: "Spartan-Regular";
      font-size: 14px;
      line-height: 22px;
      color: #121212;
    }

    span:last-child {
      font-family: "Spartan-SemiBold";
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #121212;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    // flex: 0 1 25%;
    button {
      // flex: 1 0 100%;

      padding: 17px 0;
      font-family: "Spartan-Medium";
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    button:nth-child(1) {
      background: #121212;
      color: #fff;
      opacity: 0.9;
    }
    button:nth-child(2) {
      background: #f8f8f8;
      color: #121212;
    }
  }
}
.cart-header {
  background: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px;
  &__title {
    font-family: "Spartan-Bold";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__button {
    cursor: pointer;
  }
}

.cart-item {
  display: flex;
  gap: 16px;
  &__image {
    width: 83px;
    height: 120px;

    img {
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
  }

  &__title {
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    opacity: 0.6;
  }

  &__spec {
    font-family: "Spartan-Bold";
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    margin: 0 0 auto;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__quantity {
  }

  &__price {
    font-family: "Spartan-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }

  &__delete {
  }
}
.item-quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f8f8f8;
  padding: 6px 0;
  min-width: 81px;
  &__decrease {
    cursor: pointer;
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }

  &__count {
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }

  &__increase {
    cursor: pointer;
    font-family: "Spartan-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #121212;
  }
}

.orderForm {
  &__section {
  }
  &__item {
    position: relative;
  }

  &__item_select {
    .orderForm__error {
      margin-top: 10px;
      position: static;
    }
  }

  &__item_terms {
    padding: 16px 0 35px;
    .orderForm__error {
      position: static;
    }
    label {
      user-select: none;
      display: flex;
      margin-bottom: 10px;
    }
  }
  &__item_cvv {
    position: relative;
    display: flex;
    height: 48px;
    button {
      position: absolute;
      width: 20px;
      z-index: 105;
      right: 15px;
      top: 14px;
    }
    input {
      position: absolute;
    }
    .orderForm__error {
      bottom: -20px;
    }
  }

  &__name-section {
    margin-bottom: 8px;
    font-family: "Spartan-SemiBold";
    font-size: 12px;
    line-height: 16px;
  }
  input:not(input[type="radio"], input[type="checkbox"]) {
    height: 48px;
    width: 100%;
    background: #f8f8f8;
    margin-bottom: 35px;
    padding: 0 16px;
    font-family: "Spartan-Medium", sans-serif;
    font-size: 14px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 15px;
  }

  &__error {
    position: absolute;
    bottom: 15px;
    z-index: 100;
    color: #d61313;
    font-family: "Spartan-Medium", sans-serif;
    font-size: 11px;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: #121212;
    width: 18px;
    height: 18px;
    border: 1px solid #121212;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .orderForm-select {
    &__control {
      background-color: #f8f8f8;
      border: none;
      box-shadow: none;
      height: 46px;
    }
    &__value-container {
      height: 100%;
      padding: 0 12px;
      font-family: "Spartan-Medium", sans-serif;
      font-size: 15px;
      color: #9c9c9c;
    }
    &__single-value {
      font-family: "Spartan-Medium", sans-serif;
      font-size: 15px;
      color: #121212;
    }
    &__placeholder {
      font-family: "Spartan-Medium", sans-serif;
      font-size: 15px;
      color: #9c9c9c;
    }
    &__input-container {
      margin: 0;
    }
    &__input {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    &__indicators {
    }
    &__indicator-separator {
      display: none;
    }
    &__indicator {
    }
    &__dropdown-indicator {
    }

    &__menu {
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0;
      width: 100%;
      padding: 0;
      overflow: visible;
      border-radius: 0;
      box-shadow: none;
    }
    &__menu-list {
      padding: 0;
      margin: 0;
      // border: 1px solid #8d8b8b;
      overflow: visible;
      // box-shadow: 4px 10px 8px 0px rgba(34, 60, 80, 0.2);
    }
    &__option:nth-child(2n):not(&__option--is-selected) {
      background-color: #f8f8f8;
    }
    &__option {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 40px;
      font-family: "Spartan-Medium", sans-serif;
      font-size: 15px;
      color: #9c9c9c;
      border: 1px solid transparent;
      &--is-focused {
        background-color: #fff;
      }
      &--is-focused:active:not(&__option--is-selected) {
        color: #ffffff;
        background-color: #9c9c9c;
      }
      &--is-selected {
        background-color: #9c9c9c;
        color: #ffffff;
      }
    }

    &__option:hover {
      border: 1px solid #9c9c9c;
    }

    &__group {
      padding: 0;
    }
  }
}
