.blog {
  &__header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 48px;
  }

  &__maintitle {
    font-family: "Spartan-SemiBold";
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }

  &__mainlink {
   font-family: "Spartan-Medium";
   font-size: 12px;
   line-height: 13px;
   text-align: right;
   letter-spacing: 0.06em;
   color: #121212;
   text-transform: uppercase;
   opacity: 0.6;
  }

  &__body {
  }

  &__content {
     display: flex;
     margin: 0 -15px;
  }

  &__column {
     padding: 0 15px;
     flex: 1 0 33.333%;
  }

  &__item {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
}

.blog-item {
  &__image {
  }

  &__content {
     margin-top: -55px;
     padding: 24px 16px;
     background-color: #fff;
     max-width: 88%;
  }

  &__title {
   font-family: "Spartan-SemiBold";
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #121212;
   margin-bottom: 12px;
  }

  &__text {
   font-family: "Spartan-Regular";
   font-size: 14px;
   line-height: 22px;
   color: #121212;
   opacity: 0.8;
  }
}
