$fontFamily: "Spartan-Regular";
$fontSize: 14;
$minWidth: 320px;
$maxWidth: 1280;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #121212;
